.galerie {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.image {
    padding: 3%;
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
}

.desc {
    text-align: center;
    margin-top: .5em;
    font-family: "Ink Free", serif;
}

.image img {
    width: 100%;
    height: auto;
}

#galerie-titre {
    text-align: center;
    margin-top: .5em;
    font-family: "Script MT Bold", serif;
    text-decoration: #6699CC underline;
}