.galerie {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.image {
    border: solid 1px grey;
    padding: 0.5%;
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
}

@media (max-width: 375px){
    .galerie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image {
        width: 100%;
    }
}

.desc {
    text-align: center;
    margin-top: .5em;
}

.image img {
    width: 100%;
    height: auto;
}